@import url(main.css);
html, body {margin:0;padding:0;height:100%;}

#hello{
    color: #085D8C;
    margin-right: 15px;
}

h1{
    margin: 0;
    font-size: 30px;
    line-height: 75px;
    font-weight: 700;
    color: #000000;
}
p{
    margin: 0;
    font-size: 13px;
}
a{
    text-decoration: none;
}
#home-logo{
    font-size: large;
    font-weight: 700;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.bar-status{
    display: flex;
    width:100%;  
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-direction: row;
    padding:18px;
    background: #F9F9F9;
}

.a{
    height: 100%;
}

.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bar-login{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.bar-login li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: end;
}

.bar-login .btn-secondary {
    display: flex;
    align-items: center;
    background-color: rgba(196, 196, 196, 0);
    border: 0;
    font-weight: 800;
}

.bar-login .btn-secondary img{
    margin-right: 12px;
    margin-top: -5px;
}

.bar-login h6{
    color: #085D8C;
    font-size: 18px;
    font-weight: 700;
}

.bar-login .dropdown-toggle::after {
    margin: 0;
    border: 0;
    content: url("../images/baseline_expand_more_black_48dp.png");
}

.bar-login .btn-secondary:hover {
    background: 0;
    border: 0;
}

.bar-login  li a {
    font-size: 15px;
    color: #085D8C;
    font-weight: 800;
    padding: 15px;
}

.bar-login li .dropdown-menu{
    background: #A7C7FF;
    list-style: none;
    width: 100%;
}

.bar-login .dropdown-menu li:hover{
    background-color: #ffffff57;
}

.sidebar-tables{
    display: flex;
    align-content: stretch;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.sidebar-logo  a{
    color: white;
}

.sidebar{
    display: flex;
    position: fixed;
    overflow-y: scroll;
    overflow-x: none;
    left: 0;
    width: 20%;
    height: 100%;
    flex-direction: column;
    background: #277EAE;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #085D8C; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #085D8C; 
  }

.centro{
    display: flex;
    justify-content: right;
}

.menu{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 32px;
    color: #A7C7FF;
    font-weight: 700;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}

.sidebar ul li{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar li a{
    font-size: 13px;
    display: flex;
    align-items: center;
}

.sidebar h6:hover{
    background-color: #085D8C;
}

.btn-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: none;
    position: relative;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: none;
    position: relative;
}

.button > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button:focus > img{
transform: rotate(180deg);
transition: 0.25s;
}

.set1{
padding-right: 24px;
display: flex;
align-items:flex-start;
justify-content: flex-start;
}


.btn-toggle span{
    padding-left: 8px;
    color: #fff;
}

.btn-toggle .set1 a{
    font-size: 16px;
    padding-left: 8px;
    color: #fff;
}

.btn-toggle:hover {
    background-color: #085D8C;
    color: #fff;
}

.btn-toggle::before {
    display: flex;
    line-height: 0;
    content: url("../images/expand_more_white_24dp\ \(1\).svg");
    transition: transform .25s ease;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(180deg);
}


.btn-toggle-nav a {
    display: inline-flex;
    padding: 10px;
    margin-top: 2px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #A7C7FF;
    border-radius:0!important;
}

.mb{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mb .btn-toggle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.mb .btn-toggle::before{
    content: none;
}

.content-table{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-decoration: none;
}

.alerts{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 7px;
    width: 100%;
    height: 20%; 
}
.danger{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.danger p{
    font-size: 15px; 
}

.section-table{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 0%;
    padding: 20px;
}

.danger{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.danger img{
    width: 35%;
}

.section-table{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
}
.section-table h2{
    font-size: 30px;
    font-weight: 700;
}

.table img{
    width: 40%;
}

.table{
    border: solid 1px #085D8C;
    font-size: 15px;
    font-weight:700;  
}

.space-TD-table{
    width: 70px;
}

.link-see-more{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.link-see-more a{
    color: #086191;
    font-size: 15px;
    font-weight: bold;
}
@media (min-width: 400px) and (max-width: 600px) {
    .bar-status{
        height: 150px;
        padding: 10px 26px 10px 26px;
    }
    .welcome{
        flex-direction: column;
        width: 100%;
    }
    h1{
        line-height: 50px;
        font-size: 25px;
    }
}

@media (min-width: 601px) and (max-width: 729px) {
    .welcome{
        flex-direction: column;
    }
    h1{
        line-height: 50px;
        font-size: 25px;
    }
}
@media (min-width: 730px) and (max-width: 800px) {
    h1{
        line-height: 40px;
        font-size: 25px;
    }
}
@media (min-width: 801px) and (max-width: 850px) {
    h1{
        line-height: 40px;
        font-size: 30px;
    }
}
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #085D8C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 50px;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}
.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
@keyframes fadeOut {
    100% {
        opacity: 1;
        visibility: hidden;
    }
}


@media (max-width:930px){
    .welcome{
        flex-wrap: wrap;
    }
    .welcome h1{
        line-height: 35px;
    }
}