@import url(bootstrap.min.css);

* {
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

body {

}

#hello{
    color: #085D8C;
    }

h1{
    margin-left: 15px;
    font-size: 50px;
    line-height: 75px;
    font-weight: 700;
    color: #000000;
}

.barra-status{
    display: flex;
    width:100%;  
    justify-content: space-between;
    align-items: center;
    height: 140px;
    flex-direction: row;
    padding: 26px 54px;
    background: rgba(196, 196, 196, 0.1);
}

.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.log-usuario{
    font-weight: bold;
}
.barra-logado{
    display: flex;
    flex-direction: row;
    font-style: normal;
    color: #085D8C;
}

.sidebar{
    position: absolute;
    background-color: #085D8C;
    width: 30%;
    height: 600px;
    left: 0px;
    top: 140px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.table-bordered{
    border-color: #085D8C;
    

}
.table-encomendas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.link-see-more{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}