@import url(main.css);

#hello{
    color: #085D8C;
    }

h1{
    margin: 0;
    font-size: 50px;
    line-height: 75px;
    font-weight: 700;
    color: #000000;
}
p{
    margin: 0;
    font-size: 20px;
}
a{
    text-decoration: none;

}

.barra-status{
    display: flex;
    width:100%;  
    justify-content: space-between;
    align-items: center;
    height: 140px;
    flex-direction: row;
    padding: 26px 54px;
    background: rgba(196, 196, 196, 0.1);
}

.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.barra-logado{
    display: flex;
    list-style: none;
    color: #085D8C;
    padding: 0;
}

.barra-logado .iocn-link{
    display: flex;
}

.barra-logado li i {
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.barra-logado li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.barra-logado  li a .link_name{
    font-size: 22px;
    color: #085D8C;
    font-weight: 800;
}

.barra-logado li .sub-menu{
    padding: 2px 10px 2px;
    background: #A7C7FF;
    list-style: none;
    display:none;
}

.barra-logado li.showMenu .sub-menu{
    display: block;
    width: 90%;
}

.barra-logado li .sub-menu a{
    display:flex;
    justify-content: flex-end;
    color: #085D8C;
    font-weight: 800;
    font-size: 18px;
    padding: 6px 0;
}

.barra-logado li .sub-menu i{
    display: flex;
    justify-content: end;
}

.barra-logado ul li:hover .sub-menu ul{
    pointer-events: auto;
    display: block;
}

.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background: #277EAE;
}

.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
}

.sidebar .logo-details .logo_name{
    font-size: 30px;
    color: #A7C7FF;
    font-weight: 600;
}

.sidebar .nav-links{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 0;
}

.sidebar .nav-links .iocn-link{
    display: flex;
    justify-content: space-between;
}

.sidebar .nav-links li{
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
    background: #085D8C;
}

.sidebar .nav-links li i .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;;
}

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name{
    font-size: 22px;
    color: #fff;
}

.sidebar .nav-links li .sub-menu{
    padding: 2px 10px 2px;
    background: #A7C7FF;
    display:none;
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links li .sub-menu a{
    color: #000000;
    font-size: 18px;
    padding: 10px 0;
}

.sidebar .nav-links li:hover .sub-menu{
    pointer-events: auto;
}

.sidebar .nav-links li a .link_name{
    font-size: 22px;
    color: #fff;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
}

.barra-atention{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.danger{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.danger img{
    width: 50%;
}

.section-table{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 70%;
    padding: 20px;
}

.table-bordered{
    border-color: #085D8C;
    border-radius: 70%;
}


.table img{
    width: 5%;
    margin-right: 30px;
}

.link-see-more{
display: flex;
align-items: center;
justify-content: space-between;
}
