@import url(bootstrap.min.css);

* {
    font-family: ;
}

body {
    background-color:#277EAE;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.background {
    position: absolute;
    align-items: center;
    bottom: 60px;
}

.background img {
    width: 350px;
    margin: -40px;
}

h1 {
    text-align: center;
	margin: 50px;
	font-size: 6.5em;
    color: white;
    font-weight: 700;
}

h2 {
    text-align: center;
	font-size: 2em;
    margin-top: -2px;
    font-weight: 700;
}

p {
    text-indent: -95px;
}

label {
    font-weight: 800;
}

input {
    border-color: black;
    border-radius: 3px;
    border-width: 2px;
    width: 250px;
    height: 35px;
}

#btn_Entrar {
    width: 150px;
    font-weight:bold;
    text-align: center;
}

.content {
    align-items: center;
    margin-top: 100px;
}

.quadroLogin {
    background:white;
    width: 35%;
    height: 293px;
    padding-top: 10px;
    margin: auto;
    border-radius: 5px;
}

form {
    top: 200px;
    
}