@import url(bootstrap.min.css);

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#277EAE;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.background {
    position: absolute;
    align-items: center;
    bottom: 60px;
}

.background img {
    width: 350px;
    margin: -40px;
}

h1 {
    text-align: center;
	margin: 50px;
	font-size: 100px;
    color: white;
    font-weight: 700;
}

h2 {
    text-align: center;
	font-size: 2em;
    margin-top: -2px;
    font-weight: 800;
}

label {
    font-weight: 700;
    font-size: 20px;
}

input {
    border-color: black;
    border-radius: 3px;
    border-width: 2px;
    width: 250px;
    height: 35px;
}

#btn_Entrar {
    height: 43px;
    width: 170px;
    font-weight:bold;
    text-align: center;
    font-size: 18px;
    
}

.content {
    align-items: center;
    margin-top: 50px;
}

.quadroLogin {
    background:white;
    width: 35%;
    height: 320px;
    padding-top: 10px;
    margin: auto;
    border-radius: 3px;
}

form{
    text-align: center;
}