@import url(bootstrap.min.css);

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#277EAE;
}

.ui{
    opacity: 0.2;
    width: 100%;
}

h1 {
    text-align: center;
	margin: 50px;
	font-size: 100px;
    color: white;
    font-weight: 700;
}

h2 {
    text-align: center;
	font-size: 2em;
    margin-top: -6px;
    font-weight:800;
}

label {
    font-weight: 700;
    font-size: 18px;
}

p{
    margin-left: 65px;
}

input {
    border-color: black;
    border-radius: 4px;
    border-width: 2px;
    width: 80%;
    height: 36px;
    font-size: 12px;
}

#btn_Entrar {
    height: 43px;
    width: 170px;
    font-weight:bold;
    text-align: center;
    font-size: 18px;
    
}

.content {
    align-items: center;
    margin-top: 50px;
}

#login {
    background:white;
    position: absolute;
    padding: 30px; 
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}

form{
    text-align: center;
}

.btn-group {
    margin-left: 50%;
    transform: translate(-50%);
}