@import url(main.css);
@import url(home.css);

h2{
    font-size: 25px;
    font-weight: 700;
}

.registration{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
    margin-top: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 18px;
    background: #a7c7ff3f;
    padding: 24px;
    width: 60%;
    border-radius: 4px;
}

.form input{
    width: 100%;
}

.form label {
    font-weight: 700;
    font-size: 18px;
    padding: 6px;
}

.form input {
    background: none;
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}

.name-tipe-batch{
    display: flex;
}

.name-tipe-batch .tipe{
    display: flex;
    flex: 3;
}

.name-tipe-batch .batch{
    display: flex;
    flex: 2;
}

.validity{
    display: flex;
    margin-top: 6px;
}

.time-date{
    display: flex;
}

.time-date label{
    width: 25%;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.time-date input{
    min-width: 20px;
    height: 24px;
}
#boxday{
    display: none;
}
#boxfabrication{
    display: none;
}
.days{
    background: #A8C8FF;
    border-radius: 4px;
    padding: 6px;
}

.days input{
    width: 20%;
    margin-right: 6px;
}

.fabrication-pay{
    display: flex;
    background: #A8C8FF;
    border-radius: 4px;
    padding: 6px;
}

.fabrication-pay input{
    width: 80%;
}

.quantity{
    display: flex;
    margin-top: 6px;
}

.radio-package{
    display: flex;
}

.radio-package label{
    width: 25%;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.radio-package input{
    min-width: 20px;
    height: 24px;
}

.unity-package{
    display: flex;
    background: #A8C8FF;
    border-radius: 4px;
    padding: 6px;
}

.unity-package label{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.unity-package input{
    width: 60%;
}

.unity{
    width: 20%;
}

.package select{
    display: flex;
    align-items: center;
    background: none;
    border-color: #085D8C;
    border-radius: 4px;
    font-size: 18px;
    height: 32px;
}

.package option{
    background: #7AA5BC;
    color: #fff;
    font-size: 15px;
}

.register{
    display: flex;
    justify-content: end;
}

.register .btn-group{
    width: 30%;
    padding: 30px 0px 12px 0px;
}

#btn_cadastrar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}

@media (max-width:1030px){
    .unity-package{
        flex-direction: column;
    }
    .package{
        width: 30%;
    }
    .unity{
        width: 40%;
    }
}

@media (max-width:940px){
    .time-date{
        flex-direction: column;
    }
    .register{
        padding-right: 48px;
    }
}