@import url(main.css);
@import url(home.css);
@import url(sale_management.css);


.section-title h2 {
  font-size: 25px;
  font-weight: 700;
}
.section-table {
  padding-left: 70px;
  padding-right: 70px;
}
.dataTables_wrapper {
  width: 90%;
}

.title h2{
  width: 97%;
}
.section-table label {
  margin-bottom: 20px;
}

#opcoes {
  text-align: center;
  padding-left: 85px;
}

tbody tr {
  background-color: #f3f3f3;
}
thead {
  width: 100%;
  background-color: #085d8c;
  color: white;
  font-size: 17px;
}
table button {
  background-color: #f3f3f3;
  border: transparent;
  width: 60px;
  padding: 0;
}

input {
  text-align: center;
  background-color: white;
  color: black;
}
#div-table-sabores-valores,
#div-table-sabores-valores2 {
  overflow-y: scroll;
  height: 105px;
  width: 100%;
}
#nome-id,
#nome-id2 {
  margin-bottom: 10px;
}
#btnSee {
  margin-left: 100px;
}
@media (min-width: 1040px) and (max-width: 1200px) {
  #btnSee {
    margin-left: 140px;
  }
  .edit {
    margin-left: 30px;
  }
  .delete {
    margin-left: 30px;
  }
  #opcoes {
    padding-left: 0;
  }
}
@media (min-width: 950px) and (max-width: 1039px) {
  #btnSee {
    margin-left: 140px;
  }
  .edit {
    margin-left: 30px;
  }
  .delete {
    margin-left: 30px;
  }
  #opcoes {
    padding-left: 0;
  }
}

@media (min-width: 910px) and (max-width: 949px) {
  #btnSee {
    margin-left: 110px;
  }
  .edit {
    margin-left: 20px;
  }
  .delete {
    margin-left: 20px;
  }
  #opcoes {
    padding-left: 0;
  }
}

@media (min-width: 400px) and (max-width: 909px) {
  #btnSee {
    margin-left: 80px;
  }
  .edit {
    margin-left: 0px;
  }
  .delete {
    margin-left: 0px;
  }
  #opcoes {
    padding-left: 0;
  }
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #085d8c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 50px;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

#gridModal{
  display: flex;
  justify-content: space-evenly;
}

/* MODAL */
.mod{
  margin-top: -48px;
  margin: 400px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loader2 {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.loader2.mostrar {
  display: flex;
}

@keyframes modal {
  from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.mostrar .mod {
  animation: modal .3s;
}

.top-modal{
  display: flex;
  padding: 18px;
  background-color: #085D8C;
  width: 100%;
  justify-content: space-between;
}

.top-modal h5{
  color:#fff;
  font-weight: 700;
}

.fechar{
  background: none;
  border: none;
}

.fechar::before{
  content: url(../images/close_white_24dp.svg);
}

form{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  padding: 12px;
}
form label {
  font-weight: 600;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 0;
  color: black;
}
form input {
  border-radius: 4px;
  border-width: 1px;
  height: 32px;
  border-style: solid;
  border-color: #085D8C;
  width: 100%;
}
.mod .name label{
  display: flex;
  width: 100%;
  flex-direction:column;
}
.mod .flavors{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mod .flavors label{
  display: flex;
  flex-direction:column;
  width: 100%;
}

.mod .flavors input{
  margin-bottom: 3px;
}

.mod .values{
  display: flex;
  width: 40%;
}

.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 132px;
  height: 50px;
  border-radius: 5px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#btnSee::before{
  content: url(../images/visibility_black_24dp.svg);
}

#btnEdit::before{
  content: url(../images/edit_black_24dp.svg);
}

#btnDelete::before{
  content: url(../images/delete_black_24dp.svg);
}