@import url(main.css);
@import url(home.css);

.suporte{
    margin-top: 200px;
    margin-left: 40px;
    padding: 10px;
}

.suporte h2{
    color: #085D8C;
}

.suporte2{
    background-color: #bcd4ff;
    width: 1030px;
    height: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.suportetexto p{
    font-size: 18px;
    margin-left: 30px;
    margin-top: 20px;
    color: #000000;
}

.suporte2 label{
    margin-left: 30px;
}
#input_email{
    margin-top: 70px;
}