@import url(main.css);
@import url(home.css);

.suporte{
    margin-left: 20px;
    padding: 10px;
}

.suporte h2{
    color: #085D8C;
    margin-top: 20px;
}

.suporte2{
    background-color: #f5f5f5;
    width: 1030px;
    height: 230px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.suportetexto p{
    font-size: 18px;
    margin-left: 30px;
    margin-top: 25px;
    color: #000000;
}

.suporte2 label{
    margin-left: 30px;
}
#input_email{
    margin-top: 50px;
}

/*Cor do texto do placeholder de acordo com o navegador*/
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}