@import url(main.css);
@import url(home.css);

h2{
    font-size: 25px;
    font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #085D8C;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 700;
}

.nav-item button{
    color:#797979;
    font-weight: 700;
}

.nav-item button:hover{
    color: #797979;
}

.registration{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
    margin-top: 18px;
}
.title{
    width: 100%;
}
.title h2{
    width: 97%;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 18px;
    background: #f5f5f5;
    padding: 24px;
    width: 100%;
    border-radius: 4px;
    margin-left: 0;
}

.form input{
    width: 100%;
    text-align: center;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding: 6px;
}

.form input {
    background: none;
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}

.sale{
    color: #003553;
    font-size: 22px;
    font-weight: 700;
}

.public-order{
    display: flex;
}

.public-order label{
    width: 25%;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-right: 36px;
    flex-direction: row;
}

.public-order input{
    min-width: 20px;
    height: 24px;
}

.seller-date{
    display: flex;
}

.seller-date label{
    width: 75%;
}

.total-general-3{
    display: flex;
    width: 100%;
}

.form .title{
    margin-top: 30px;
}

.form h6{
    margin-top: 6px;
    margin-bottom: 18px;
    align-self: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 53, 83)
}

.total-general{
    display: flex;
    width: 25%;
    margin-top: 6px;
}

.p-t-q-p-t{
    display: flex;
}

.product-type-quantity{
    display: flex;
    width: 60%;
}
.product-type-quantity .product{
    width: 40%;
}
.product-type-quantity .type{
    width: 30%;
}
.product-type-quantity select{
    width: 100%;
}

.product-type-quantity select{
    display: flex;
    align-items: center;
    background: none;
    border-color: #085D8C;
    border-radius: 4px;
    font-size: 15px;
    height: 32px;
}

.product-type-quantity option{
    background: #fff;
    color:#000;
    font-size: 13px;
}

.product-type-quantity select{
    transition-delay: 250ms;
}

.price-total{
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button-adc button{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    border: none;
    background: none;
}

.button-adc button::before{
    content: url(../images/add_black_24dp.svg);
}

.button-adc button:hover{
    filter: invert(14%) sepia(98%) saturate(3821%) hue-rotate(189deg) brightness(90%) contrast(94%);
}

.button-del button{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    border: none;
    background: none;
}

.button-del button::before{
    content: url(../images/remove_black_24dp.svg);
}

.button-del button:hover{
    filter: invert(20%) sepia(74%) saturate(2288%) hue-rotate(351deg) brightness(90%) contrast(97%);
}

.production-available{
    display: flex;
    flex: 1;
}

.total-general-2{
    display: flex;
    width: 25%;
}

.discount-general{
    display: flex;
}

.discount-general .total-general{
    margin-left: 36px;
    margin-top: 0;
    width: 100%;
}

.discount-general label{
    justify-content: flex-end;
    width: 40%;
    margin-bottom: 6px;
}

.payment-value{
    display: flex;
    margin-top: 6px;
}

.payment{
    width: 50%;
}
#selectPagamentoVendas{
    width: 100%;
}

.payment select{
    display: flex;
    align-items: center;
    background: none;
    border-color: #085D8C;
    border-radius: 4px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}

.payment option{
    background: #fff;
    color:#000;
    font-size: 13px;
}

.payment select{
    transition-delay: 250ms;
}

.total-value{
    margin-left: 36px;
}

.total-value button{
    display: flex;
    font-weight: 600;
    border: none;
    background: none;
}

.total-value button::before{
    content: url(../images/add_black_24dp.svg);
    margin-top: 2px;
}

.btn-confirmar{
    background-color: #2ECC71; 
    color: #fff;
    border-radius: 20px; 
    border: none;
    font-size: 14px;
    padding: 6px 12px;
}

.btn-confirmar:hover{
    background-color: green;
}

.paid-pending{
    display: flex;
    margin-top: 6px;
}

.total-paid{
    display: flex;
}

.total-pending{
    display: flex;
    margin-left: 36px;
}

.register{
    display: flex;
    justify-content: end;
}

.register .btn-group{
    width: 30%;
    padding: 60px 6px 12px 0px;
}

#btn_cadastrar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}

#btn_setinha_1, #btn_setinha_2{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}

@media (max-width:1160px){
    .p-t-q-p-t{
        flex-direction: column;
    }

    .product-type-quantity{
        width: 100%;
    }

    .price-total{
        width: 80%;
        justify-content: flex-start;
    }
}

@media (max-width:925px){
    .payment-value{
        flex-direction: column;
    }

    .payment{
        width: 60%;
    }

    .total-value{
        margin-left: 0;
        width: 60%;
    }
}
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #085D8C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 50px;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}
.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

#checked .button-close{
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}
#checked form{
    display: flex;
}

#checked .modal-body{
    margin: 0;
    padding-top: 0;
}
#checked form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#checked form h1{
    text-align: center;
    color: rgba(130, 130, 130, 1); 
    font-weight: bold;
    font-size: 30px;
}
#checked .btn-paraGerenciamento{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    color: white;
    background: #085D8C;
    border-radius: 5px;
    border-color: #085D8C;
    border-block: none;
    border-inline: none;
    padding: 0 24px;
}
#checked .btn-links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#checked .modal-content{
    cursor: pointer;
    margin-top: 0;
}
#checked .modal-footer {
    border: 0;
}

#productsTitle{
    flex-direction: column;
}