@import url(main.css);
@import url(home.css);

h2{
    font-size: 25px;
    font-weight: 700;
}

.registration{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
    margin-top: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 18px;
    background: #a7c7ff3f;
    padding: 24px;
    width: 60%;
    border-radius: 4px;
}

.form input{
    width: 100%;
}

.form label {
    font-weight: 700;
    font-size: 18px;
    padding: 6px;
}

.form input {
    background: none;
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}

.sale{
    color: #003553;
    font-size: 20px;
    font-weight: 700;
}

.public-order{
    display: flex;
}

.public-order label{
    width: 25%;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-right: 36px;
}

.public-order input{
    min-width: 20px;
    height: 24px;
}

.register{
    display: flex;
    justify-content: end;
}

.register .btn-group{
    width: 30%;
    padding: 60px 6px 12px 0px;
}

#btn_cadastrar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}