@import url(main.css);
@import url(home.css);

.section-title{
    height: 50px;
    padding-left: 70px;
}
.section-title  h2{
    font-size: 30px;
    font-weight: 700;
}
.section-table{
    padding-left: 70px;    
}
.dataTables_wrapper{
    width: 90%;
}
label{
    margin-bottom: 20px;
}



#opcoes{
    text-align: center;
}
.read{
    background-image: url(../images/baseline_visibility_white_48dp.png);
    width: 1;
}

td a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-teste img :hover{
    background-color: #ABD2CE;
    width: 40px;
}

.table-teste{
    background-color: #ABD2CE;
}
table tbody{
    background-color: #ABD2CE;
}
thead{
    width: 100%;
    background-color: #085d8c;
    color: white;
    font-size: 17px;
}

