@import url(main.css);
@import url(home.css);

h2{
    font-size: 30px;
    font-weight: 700;
}

.registration{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
    margin-top: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #a7c7ff3f;
    padding: 30px;
    width: 60%;
    border-radius: 4px;
}

.form p{
    padding: 5px;
    width: 100%;
}

.form input{
    width: 100%;
}

.form label {
    font-weight: 700;
    font-size: 18px;
}

.form input {
    background: none;
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}

.user-email{
    display: flex;
}

.office-access{
    display: flex;
}

.office-access label{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.office-access .btn-secondary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border-color: #085D8C;
    color: black;
}

.office-access .dropdown-toggle::after {
    border: 0;
    margin: 0;
    content: url(../images/baseline_expand_more_blue_48dp.png);
    height: 36px;
    margin-top: -12px;
}

.office-access .dropdown-menu{
    width: 100%;
    background: #7AA5BC;
    border-width: 2px;
    border-color: #085D8C;
}

.office-access li a{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    padding: 6px;
    color: #fff;
}

.office-access li a:hover {
    background-color: #085D8C;
}

.register{
    display: flex;
    justify-content: end;
}

.register .btn-group{
    width: 30%;
    padding: 120px 6px 12px 0px;
}

#btn_cadastrar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}