@import url(main.css);
@import url(home.css);
@import url(user_registration.css);

.section-title{
    height: 50px;
    padding-left: 70px;
}
.section-title  h2{
    font-size: 30px;
    font-weight: 700;
}
.section-table{
    padding-left: 70px;    
}
.dataTables_wrapper{
    width: 90%;
}
.section-table label{
    margin-bottom: 20px;
}

#opcoes{
    text-align: center;
}
table td{
    padding-top: 10px;
}

table.dataTable tbody tr{
    background-color: #ABD2CE;
}
thead{
    width: 100%;
    background-color: #085d8c;
    color: white;
    font-size: 17px;
}
table button{
    background-color:  #ABD2CE;
    border: transparent;
    width: 60px;
    padding: 0;
}
.visibility{
    margin-left: 100px;
}
.edit{
    margin-left: 30px;
}
.delete{
    margin-left: 30px;
}
.visibility::before{
    content: url(../images/visibility_white_24dp.svg);
}
.edit::before{
    content: url(../images/create_white_24dp.svg);
}
.delete::before{
    content: url(../images/delete_white_24dp.svg);
}
.modal-header{
    background: #085D8C;
    color: #fff;
}
.modal-header h5{
    font-size: 24px;
    font-weight: 700;
}
.modal-header .delete{
    background: none;
}
.modal-header .delete::before{
    content: url(../images/close_white_24dp.svg);
}
.modal-body form{
    display: flex;
    flex-direction: column;
    margin-top: -12px;
}
.modal-body form input{
    width: 100%;
}
.modal-body form label {
    font-weight: 600;
    font-size: 16px;
    padding: 6px;
    margin-bottom: 0;
    color: black;
}
.modal-body form input {
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}
.modal-body .user-email label{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.modal-body .office-access label {
    align-items: flex-start;
}
.modal-body .office-access select {
    width: 100%;
}
.save{
    display: flex;
    justify-content: end;
}
.save .btn-group{
    width: 30%;
    padding-top: 66px;
}
#btn_salvar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}
.alternative{
    display: flex;
    justify-content: end;
    padding-top: 36px;
}
.alternative .btn-primary{
    width: 20%;
    margin-right: 6px;
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #085D8C;
}
.alternative .btn-secondary{
    width: 20%;
    height: 40px;
    font-weight:600;
    font-size: 16px;
    background: #A82012;
    border-color: #892015;
}
@media (min-width: 1040px) and (max-width: 1200px) {
    .visibility{
        margin-left: 50px;
    }
    .edit{
        margin-left: 30px;
    }
    .delete{
        margin-left: 30px;
    }
}
@media (min-width: 950px) and (max-width: 1039px) {
    .visibility{
        margin-left: 0px;
    }
    .edit{
        margin-left: 30px;
    }
    .delete{
        margin-left: 30px;
    }
}

@media (min-width: 910px) and (max-width: 949px) {
    .visibility{
        margin-left: 0px;
    }
    .edit{
        margin-left: 20px;
    }
    .delete{
        margin-left: 20px;
    }
}
@media (min-width: 860px) and (max-width: 909px) {
    .visibility{
        margin-left: 0px;
    }
    .edit{
        margin-left: 10px;
    }
    .delete{
        margin-left: 10px;
    }
}
@media (min-width: 800px) and (max-width: 860px) {
    .visibility{
        margin-left: 0px;
    }
    .edit{
        margin-left: 0px;
    }
    .delete{
        margin-left: 0px;
    }
}