@import url(main.css);
@import url(home.css);

h2{
    font-size: 30px;
    font-weight: 700;
}

.registration{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items:flex-start;
    width: 100%;
    padding: 0px 30px 0px 30px;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #a7c7ff3f;
    padding: 30px;
    width: 60%;
}

p{
    padding: 5px;
    width: 100%;
}

input{
    width: 100%;
}

label {
    font-weight: 700;
    font-size: 18px;
}

input {
    background: none;
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    border-style: solid;
    border-color: #085D8C;
}

.a{
    display: flex;
}

.b{
    display: flex;
}

.b label{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.b .btn-secondary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border-color: #085D8C;
    padding: 5px;
    color: black;
}

.b .dropdown-toggle::after {
    color:#085D8C;
}

.b .dropdown-menu{
    width: 100%;
    background: #A7C7FF;
}

.b li a{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    padding: 2px;
    color: #fff;
}

.c{
    display: flex;
    justify-content: end;
}

.c .btn-group{
    width: 30%;
    padding: 100px 0 10px 0px;
}

#btn_cadastrar{
    height: 40px;
    font-weight:600;
    font-size: 16px;
}