.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
}

::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}

input {
    outline: none;
}
  


.dataTables_wrapper{
    width: 90%;
}

table button{
    background-color:  #98bebb;
    border: transparent;
    width: 30px;
    padding: 0;
}
